<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />

  <title>
    {%- if page.title -%}
      {{ page.title }}
    {%- else -%}
      {{ site.title }}
    {%- endif -%}
  </title>

  {%-seo title=false-%}
  {%-feed_meta-%}

{% if page.layout != 'index' %}
  {% assign posts=site.posts | where:"lang-ref", page.lang-ref | sort: 'lang' %}
  {% if posts.size == 0 %}
    {% assign posts=site.pages | where:"lang-ref", page.lang-ref | sort: 'lang' %}
  {% endif %}
  {% if posts.size > 1 %}
    {% for post in posts %}
  <link rel="alternate" hreflang="{{post.lang}}" href="{{ site.base-url }}{{ post.url }}" />
    {% endfor %}
  {% endif %}
{% endif %}	

  <link rel="shortcut icon" type="image/x-icon" href="{{ site.favicon | relative_url }}" />
  <link rel="stylesheet" href="{{ "/assets/css/main.css" | relative_url }}" />
</head>
